@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
h1, h2 {
  display: block;
  font-family: 'Roboto';
  font-size: 3em;
  font-weight: 100;
  margin: auto;
  width: 50%;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  margin-top: 10px;
}
ol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 15%;
  margin: 50px auto;
  font-family: 'Roboto';
  font-weight: 700;
  color: black;
}
ol li {
  background-color: #d5d2ff;
  border-radius: 5px;
  text-align: center;
  margin-top: 0.5em;
  padding: 15px;
  font-size: 1.5em;
}
