<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Who speaks first?</title>

  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>

</head>

<body>
  
<h1>Who speaks first today?</h1>
<h2>{{disp_date}}</h2>

<div class="box">
  {%for i in range(n_names)%}
  <div class="item">
    <div class="num">{{i+1}}</div>
    <div class="name">{{names[i]}}</div>
  </div>
  {%endfor%}
</div>

</body>
</htm>